@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Kumbh+Sans&family=Open+Sans:wght@500&family=Plus+Jakarta+Sans:wght@300&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans','Open Sans', sans-serif;

}

body {
    display: block;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.7);
}

main {
    background-image: url('https://i.pinimg.com/originals/df/4e/8b/df4e8ba28f912bf9cdf9fa0dfc196411.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;

}

section#card {
    display:flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    padding:20px 20px;
    width:300px;
}

article{

}
.card_info{
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.card_pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(151, 240, 206, 0.7);
    padding: 30px 20px;
    border-radius: 30px;

}

.card_pokemon img {
    width:200px;
}
.card_info h4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(200, 200, 200, 0.7);
    color: white;
    padding: 10px 20px;
    margin:5px;
    width:75px;
    border-radius: 30px;
}

.card_info p{
    padding: 10px 20px;
}

#btn {
    background-color: #FF3F75;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 30px;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
}

#btn:hover{
    transition: 0.3s;
    background-color:#ab0030;
}
/*
a {
    text-decoration: none;
    color:currentColor;
}*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.7);
}